* {
  margin: 0;
  pad: 0;
  box-sizing: border-box;
  /* color: #c1e6c9; */
}

#canvas1 {
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate((0%, 0%));
  max-width: 100%;
  /* font-family: ; */
}

#player,
#layer3,
#enemy_fly,
#coin,
#enemy_ballon,
#fire,
#collisionAnimation,
#shineAnimation,
#lives,
#next,
#field1,
#field2,
#time,
#time_bar,
#time_bar2,
#stage1_clear,
#stage1_over,
#coin_bar {
  display: none;
}

@font-face {
  font-family: "DungGeunMo";
  src: url("font/DungGeunMo.ttf");
}
